[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-storage = "*"
unicodedata2 = "*"
pipfile = "*"
requests-html = "*"
pandas = "*"
pymssql = "*"
openpyxl = "*"
python-pip = "*"
xlsxwriter = "*"

[dev-packages]

[requires]
python_version = "3.8"
